@import '../../sass//variables.scss';

.main-card {
  border: none;
}

.hr {
  border-bottom: 1px solid $secondary;
}

.body {
  padding: 1.25rem 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
